body{
    font-family: Arial, Helvetica, sans-serif;
}

em{
    color: blue;
}

strong{
    color: red;
}

#logoimg{
    height: 95px;
    width: 255px;
}

#logo{
    float: left;
}

h1{
    text-align: center;
}

#en-tete{
    text-align: center;
}

#conv{
    border: 2px solid red;
    margin: 20px;
    padding: 10px;
}

#form{
    border: 2px solid purple;
    margin: 20px;
    padding: 10px;
}

input{
    background-color: rgb(227, 227, 227);
}