body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(203, 203, 243);
    color: #000000;
    animation: fadeIn 1s ease-in-out;
}

#entete_logo {
    border: 2px solid rgb(61, 61, 255);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    flex: 0 0 100px;
    animation: fadeIn 1s ease-in-out;
}

#entete {
    text-align: center;
}

h1, h3 {
    margin: 10px 0;
}

button {
    color: #21146e;
    background-color: transparent;
    border: 2px solid #2600ff;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #1909ee;
    color: #ffffff;
}

#div_blocks {
    border: 2px solid rgb(61, 61, 255);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background-color: rgb(203, 203, 243);
}

h3, button, input {
    animation: fadeIn 1s ease-in-out;
}

#small_img {
    width: 1px;
}